@charset "UTF-8";
/* 초기화 스타일 */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, address, big, cite, code, del, dfn, em, font, img, ins, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, ul, ol, li,
dl, dt, dd, table, caption, tbody, tfoot, thead, tr, th, td, fieldset,
form, label, legend, input, button, textarea, select {
    margin: 0;
    padding: 0;
}
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* 헤더와 푸터를 고정시키기 */
header {
    position: fixed;
    left: 0;
    right: 0;
}
footer {
	position: fixed;
	left: 0;
    right: 0;
	bottom: 0;
}
/* 메인 컨텐츠 아래로 내리기 */
main {
    margin-top: 100px; /* 헤더의 높이만큼 여백 추가 */
    margin-bottom: 80px; /* 푸터의 높이만큼 여백 추가 */
}
html, body {
/*  display: flex; */
/* 	display:inline-block; */
/*  justify-content: center; */
    align-items: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 폼 컨테이너 스타일 */
.formContainer {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 버튼 스타일 */
button {
    cursor: pointer;
}

/* 회원가입 컨테이너 스타일 */
.joinWrap {
    width: 400px;
    background-color: none;
    display: block;
    align-items: center;
}

/* 입력 필드 스타일 */
.inputUser {
/*     position: relative; */
    height: 40px;
    display: inline-block;
    border: 2px solid #d9d9d9;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 18px;
    padding-right: 30px;
    width: 100%;
}
.inputLabel{
	font-size: 18px;
	margin-bottom: 10px;
}
/* 인풋 태그와 딜리트 버튼을 감싸는 컨테이너 스타일 */
.inputWithButton {

    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    width: 100%; 
}

.inputWithButton > .btnDel {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border: none;
    background-color: black;
    background: url('../img/deleteBtn.png') no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;

}
.changeBtn > button {
	width: 400px;
	height: 40px;
	color: white;
	background-color: grey;
	margin-top: 10px;
	border: none;
}
.submitBtn > button{
	width: 400px;
	height: 30px;
	color: white;
	background-color :grey;
	margin-top: 5px;
	margin-bottom: 10px;
	border: none;
}
#emailAlert{
	font-size: 12px;
	margin-bottom: 10px;
}
/* Invalid CSS */
.errorOutline {
	border: 1px solid red;
}

.focusOutline {
	outline: 2px solid #0080ff;
}
